.header-main
{
    width: 100vw;
    height: 80px;
}
.logo{
    height: 70px;
    padding: 5px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    padding-left: 30px;
}
.btns{
    border-radius: 0;
    height: 25px;
    overflow: hidden;
    padding: 0;
    font-size: small;
}
.btn{
    transform: scale(1);
    transition: all ease 0.2s;
    margin: 4px;
    background-color: transparent;
    border: none;
    color: blue;

}
.btns:hover,
.btn:hover
{
    transform: scale(1.1);
    border-radius: 5px;
    background-color: rgb(8, 99, 90);
}
.btn:hover{
    transform: scale(.8);
    box-shadow: 0px 0px 10px 10px rgb(9, 9, 9, 0.5);
}
.navbar-brand{
    margin: 5px;
}